{% extends 'base.html.twig' %}

{% block body %}
    <!-- PORTFOLIO -->
    <div class="module-small portfolio_area p-b-60">

        <div class="container">
            <!-- PORTFOLIO LIST -->
            <ul id="works-grid" class="works-grid works-grid-gut works-grid-4 works-hover-w">

                {% for painting in subcategory.paintings %}
                <!-- PORTFOLIO ITEM -->
                <li class="work-item illustration webdesign">
                    <a href="{{ asset(painting.image) }}" class="popup" title="{{ painting.title }}">
                        <div class="work-image">
                            <img src="{{ asset(painting.thumbnail) }}" alt="">
                        </div>
                        <div class="work-caption">
                            <h3 class="work-title font-alt">{{ painting.title }}</h3>
                        </div>
                    </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                {% endfor %}

            </ul>
            <!-- /PORTFOLIO LIST -->

        </div>

    </div >
    <!-- /PORTFOLIO -->
{% endblock %}
