parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     pygervais
    database_user:     root
    database_password: root

    mailer_transport: mail
    mailer_auth_mode: login
    mailer_host: ns0.ovh.net
    mailer_encryption: null
    mailer_port: 587
    mailer_user: bonjour@charliebreval.com
    mailer_password: Tyranides25

    secret:            ThisTokenIsNotSoSecretChangeIt
    painting_thumbnail_directory: '%kernel.root_dir%/../web/img/uploads/painting/thumbnail'
    painting_image_directory: '%kernel.root_dir%/../web/img/uploads/painting/image'

    post_thumbnail_directory: '%kernel.root_dir%/../web/img/uploads/post/thumbnail'
    post_cover_directory: '%kernel.root_dir%/../web/img/uploads/post/cover'
