
<!-- DIVIDER -->
<hr class="divider-w">
<!-- /DIVIDER -->

<!-- CONTACT -->
<div class="module-small">

    <div class="container">

        <div class="row">

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="icon-map-pin"></span>
                    </div>
                    <div class="content-box-title font-inc">
                         Los Angeles, CA 69, US
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="icon-phone"></span>
                    </div>
                    <div class="content-box-title font-inc">
                        +1 234 567 89 00
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="icon-envelope"></span>
                    </div>
                    <div class="content-box-title font-inc">
                        rebel@email.com
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

        </div>

    </div>

</div >
<!-- /CONTACT -->

<!-- FOOTER -->
<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">
                <p class="copyright font-inc m-b-0">© 2017 <a href="index.html">rebel</a>, All Rights Reserved.</p>
            </div>

        </div>

    </div>

</footer>
<!-- /FOOTER -->
